<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>921556374677-k9aud6t0vgrqlojg3q17dtq3nod00c3t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.921556374677-k9aud6t0vgrqlojg3q17dtq3nod00c3t</string>
	<key>API_KEY</key>
	<string>AIzaSyCkIAnJ0LoXZ7RaSIovPJsdbO06nVO2ZkM</string>
	<key>GCM_SENDER_ID</key>
	<string>921556374677</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.setclockpm.EdSocialSC</string>
	<key>PROJECT_ID</key>
	<string>presidiosc-edsocial</string>
	<key>STORAGE_BUCKET</key>
	<string>presidiosc-edsocial.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:921556374677:ios:f5ae7b8559aaf88f</string>
	<key>DATABASE_URL</key>
	<string>https://presidiosc-edsocial.firebaseio.com</string>
</dict>
</plist>